cffi==1.15.0
click==8.0.3
colorama==0.4.4
Flask==2.0.2
Flask-Cors==3.0.10
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.22.0
Pillow==9.0.0
pycparser==2.21
six==1.16.0
SoundFile==0.10.3.post1
torch==1.10.1
torchaudio==0.10.1
typing_extensions==4.0.1
Werkzeug==2.0.2